<div class="navbar menu--nav">        
    <div class="row d-flex menu">
            <ul class="nav flex-column nav-pills">
                <li class="nav-item">
                    <li class="nav-item">
                        <a class="nav-link item__lista active" href="#">Alumnos</a></li>
                <li class="nav-item">
                    <a class="nav-link item__lista" href="#">Cursos</a></li>
                <li class="nav-item">
                    <a class="nav-link item__lista" href="#">Clases</a></li>
            </ul>
        </div>
